.main {
  max-width: 1200px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 32px;
  margin: 0 auto;
}

@media (max-width: 557px) and (min-width: 397px) {
  .main {
    max-width: 450px;
    padding-left: unset;
    padding-right: 2px; 
  }
  .about__image {   
    background-size: 100% auto;    
  }
}

@media (max-width: 397px) and (min-width: 250px) {
  .main {
    max-width: 335px;
    padding-left: unset;
    padding-right: 2px; 
  }
  .about__container {
    max-width: 334px;
    height: 599px;
  }
  .about__image img {
    background-size: 100% auto;     
    width: 334px;
    height: 223px;
    margin: 0;
    padding: 0;    
  }    
}
