.main {
  max-width: 1200px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 32px;
  margin: 0 auto;
}
@media (max-width: 557px) and (min-width: 397px) {
  .main {
    max-width: 450px;    
  }
  .about__image {   
    background-size: 100% auto;    
  }
}
@media (max-width: 397px) and (min-width: 250px) {
  .main {
    max-width: 335px;   
  }
  
}
