.about__container {
  display: flex;
  min-height: 400px;    
  background: #FFFFFF;
  border: 1px solid #D7D8D9;
  border-radius: 6px;
  box-shadow: (0px 8px 16px rgba(0, 0, 0, 0.101961));
}
.about__image {   
  max-width: 600px;
  max-height: 400px; 
  margin: 0 auto;

  & img { 
    vertical-align: bottom; 
    object-fit:cover; 
    margin: 0 auto;  
  }
}

.post-item {
  max-width: 480px; 
  margin: 59px 60px 0 60px;  

  &__info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #323642;
    margin-top: 87px;
    margin-bottom: 7px; 
  }

  &__news a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4CB649; 
  }
}
.icon-comment {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #889099;
  margin-top: 11px;

  & img {
    width: 16px;
    height: 16px;  
    border: 0;
    vertical-align: middle;
    padding-bottom: 1px;
  }
}

.posts-item_article {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252E;
 margin-top: 0;
 margin-bottom: 6px;
}
.trait {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #889099;
}
@media (max-width: 992px) and (min-width: 250px) {
  .about__container {
    display: block;
    margin: 0 auto;      
  }
  .posts-item_article {
    margin-top: 30px;
    margin-bottom: 14px;
  }
  .about__image img {     
    width:100%;   
    object-fit:cover;       
  }

  .post-item {
    display: block;
    margin: 0 auto; 

    &__info {
      margin-top: 30px;
    }
  }  
}

@media (max-width: 576px) and (min-width: 250px) {  
  .post-item {
    max-width: 275px;   

    &__info {
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
  .about__image img { 
    border-radius: 5px 5px 0px 0px;     
  }
}

@media (max-width: 397px) and (min-width: 250px) {
 
  .about__container {
    max-width: 334px;
    height: 599px;
  }
  .about__image img {
    background-size: 100% auto;     
    max-width: 334px;
    height: 223px;
    margin: 0;
    padding: 0;    
  }    
}

