.sidebar-blog {
  display: grid; 
  grid-area: sb;
  width: 400px;
  justify-content: right;    
  border-left: 1px solid #EBECED; 
  
  &__container {  
    max-width: 340px;      
  }  
}  
.panel-news__image {
  display: flex;
  align-items: center;
  padding-left: 8px;
  margin-top: 22px;
  margin-bottom: 23px;
  & img {
    height: 39.77px;
    width: 38.68px;  
  }
}
._thumbnail {
  margin-top: 44px;
}
.panel-news__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252E;
  padding-left: 20px;
}
.panel-news__info ul {
  list-style: disc;
  color: #4CB649;
  font-size: 14px;
  padding-inline-start: 13px;
}
.panel-news__info li {
 padding: 8px 0;
}
.panel-news__info span a {
  width: 340px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #323642;  
}
.site-news-item__image {
  margin-top: 35px;
  max-width: 340px;  
}
.site-news-item img {
  max-width: 340px;
  object-fit: cover;
  margin: 0 auto;  
}
.site-news-item__titles {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #22252E;
  margin-top: 46px;
}
.screen-shot {
  margin-top: 15px;
}

@media (max-width: 940px) and (min-width: 250px) {
  .sidebar-blog {    
    width: inherit;    
    border-left: none; 
    justify-content: center; 
    &__container {
      max-width: none; 
    }
  }
  .site-news-item {
    text-align: center;
  }
}
@media (max-width: 397px) and (min-width: 250px) {  

  .sidebar-blog__container {
    max-width: 315px;
  }

  .site-news-item img {
    width: 100%;    
    object-fit: cover;  
    margin-top: 35px;
  }  
}