.header-navbar__list {
  display: flex;
  position: relative; 
  justify-content: center;
  width: 500px; 
  flex-wrap: wrap;   
}
.header-menu {
  position: absolute;  
  max-width: 1485px; 
  position: relative;
  display: flex;
  align-items: center;  
  flex-wrap: wrap;
  margin: 0 auto;   
}

.header-menu__container {
  flex-grow: 1.4;
}

