body {
  margin: 0;
  max-width: 1600px;  
}
a {
  text-decoration: none;
}
.header {  
  padding: 18px 15px 0px 15px;
  max-width: 1600px; 
  margin: 0 auto;   
  text-align: center; 
}
ul {
  list-style: none;  
  padding: 0;
}

