.btn-login {
  object-fit: cover;
  height: 40px;
  width: 90px; 
}

.btn-lt {
  height: 39.2px;
  width: 160px;   
  align-items: center;  
  box-sizing: border-box;
  color: #FFFFFF; 
  display: inline-flex;  
  justify-content: center;  
  padding: 6px 20px;  
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;  
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
  border-radius: 30px;
  margin-left: 8px;  
}






  
  

  



     


